* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#hero {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: lightblue;
    border: none;
}
